<div id="clients" class="logos wrapper">
  <h2 class="ui centered header">Trusted across industries</h2>
  <div class="ui four column stackable celled grid container">
    <div class="row">
      <div class="centered column">
        <div><img class="ui centered image" src="img/client-logo/fox.png"></div>
        <div><img class="ui centered image" src="img/client-logo/oxr.png"></div>
        <div><img class="ui centered image" src="img/client-logo/euromoney.png"></div>
      </div>
      <div class="centered column">
        <div><img class="ui centered image" src="img/client-logo/aia.png"></div>
        <div><img class="ui centered image" src="img/client-logo/clp.png"></div>
        <div><img class="ui centered image" src="img/client-logo/hotels.png"></div>
      </div>
      <div class="centered column">
        <div><img class="ui centered image" src="img/client-logo/jll.png"></div>
        <div><img class="ui centered image" src="img/client-logo/lc.png"></div>
        <div><img class="ui centered image" src="img/client-logo/lf.png"></div>
      </div>
      <div class="centered column">
        <div><img class="ui centered image" src="img/client-logo/ga.png"></div>
        <div><img class="ui centered image" src="img/client-logo/mcs.jpg"></div>
        <div><img class="ui centered image" src="img/client-logo/pactera.png"></div>
      </div>
    </div>
  </div>
</div>

<div id="callout" class="wrapper">
  <h2 class="ui centered header"> </h2>
  <p>We help companies <span>define</span> and <span>implement</span> strategies to make data part of their organisational DNA.</p>

  <a class="ui large button inverted white">Talk to us</a>

</div>