<footer>
<div class="ui four column grid centered stackable grid container footer">
    <div class="column">
        <h3 class="ui header">CONTACT</h3>
        <div class="ui list">
          <div class="item">
            <i class="users icon"></i>
            <div class="content">
              Droste Limited
            </div>
          </div>
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              Prince Edward, Kowloon
            </div>
          </div>
          <div class="item">
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:info@droste.hk">info@droste.hk</a>
            </div>
          </div>
          <div class="item">
            <i class="linkify icon"></i>
            <div class="content">
              <a href="http://www.droste.hk">droste.hk</a>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <h3 class="ui header">LEARN MORE</h3>

    </div>
    <div class="column">
        <h3 class="ui header">RESOURCES</h3>
        <ul class="ui list">
          <li>Symbol & Key</li>
          <li>Prologue to Data Science</li>
          <li>Benefits
            <ul>
              <li>Use Anywhere</li>
              <li>Rebates</li>
              <li>Discounts</li>
            </ul>
          </li>
          <li>Warranty</li>
        </ul>

    </div>
    <div class="column">
        <h3 class="ui header">CONNECT WITH US</h3>
        <div class="ui list">
          <div class="item">
            <i class="twitter icon"></i>
            <div class="content">
              Twitter
            </div>
          </div>
          <div class="item">
            <i class="github icon"></i>
            <div class="content">
              GitHub
            </div>
          </div>
          <div class="item">
            <i class="facebook icon"></i>
            <div class="content">
              Facebook
            </div>
          </div>
          <div class="item">
            <i class="linkedin icon"></i>
            <div class="content">
              LinkedIn
            </div>
          </div>
        </div>
    </div>
    </div>
    <!-- <div class="column"> -->
        <!-- <h3 class="ui header">NEWSLETTER</h3> -->
    <!-- </div> -->
</div>
</footer>