{% extends "base.html" %}

{% set show_menu = false %}
{% set container = true %}
{% set page_id = 'home' %}

{% block content %}

  <div class="ui two column doubling grid">
    <div class="column">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </div>
    <div class="column">
      <div id="stars3"></div>
      <div id="stars2"></div>
      <div id="stars"></div>
      <div class="diagonals">
        <div class="diagonal"></div>
        <div class="diagonal"></div>
        <div class="diagonal"></div>
        <div class="diagonal"></div>
        <div class="diagonal"></div>
        <div class="diagonal"></div>
      </div>
      <p></p>
      <p></p>
    </div>
  </div>

{% endblock content %}
