<div class="ui two column doubling landing grid">
  <div class="landing column">
    <div class="ui very padded text container inverted segment">
      <h1 class="ui inverted header"><img class="ui large image" src="/img/logo/droste_logo.png"></h1>
      <h2 class="ui inverted header">Data Science Consultancy</h2>
      <h1 id="perspective" class="ui inverted header">Fresh Perspective on your <span class="typed">Data</span></h1>
      <h1 class="ui inverted header">We deliver on the promise of <span>Data</span></h1>
    </div>
  </div>
  <div class="landing column">
    <div class="ui center aligned inverted landing segment attached">
      <button class="ui large button inverted white">services</button>
      <button class="ui large button inverted white">about us</button>
      <button class="ui large button white">request proposal</button>
    </div>
    </div>
  </div>
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>