<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div id="starcluster"><img src="/img/site/kv.png"></div>
<div class="ui two column doubling landing grid">
  <div class="column">
    <img class="ui image logo" src="/img/logo/droste_logo.png">
    <div class="ui segments center">
      <div class="ui basic segment"><p>We are a</p></div>
      <div class="ui basic segment"><p>data science consultancy</p></div>
      <div class="ui basic segment"><p>that brings</p></div>
      <div class="ui basic segment"><p>fresh perspectives on your <span class="typed">data</span></p></div>
      <div class="ui basic segment"><p>with a mission to</p></div>
      <div class="ui basic segment"><p>to deliver on the promise of <span>data</span></p></div>
    </div>
    <div class="ui segments bottom">
      <a href="#services">
        <div class="ui basic segment"><p>here's how.</p></div>
        <div class="ui basic segment"><p>⌄</p></div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="ui center aligned inverted segment attached menu">
      <a href="#services" class="ui large button inverted">Services</a>
      <a href="#clients" class="ui large button inverted">Clients</a>
      <a href="https://tijptjik.typeform.com/to/bIbqVC" class="ui large button inverted white typeform-share" data-mode="drawer_right" target="_blank">Talk to us</a><script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
<script type="text/javascript">
// handle links with @href started with '#' only
$(document).on('click', 'a[href^="#"]', function(e) {
    // target element id
    var id = $(this).attr('href');

    // target element
    var $id = $(id);
    if ($id.length === 0) {
        return;
    }

    // prevent standard hash navigation (avoid blinking in IE)
    e.preventDefault();

    // top position relative to the document
    var pos = $id.offset().top;

    // animated top scrolling
    $('body, html').animate({scrollTop: pos},{
                    duration: 'slow',
                    easing: 'easeInOutCubic'
                });
});
</script>