<div id="services" class="sliders wrapper">
  <div class="ui two column stackable grid container">
  <h2 class="ui header">Our services</h2>

    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Predictive Analytics</h3>
        <p class="description">imply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="ten wide column">
        <div class="swiper-pagination swiper-pagination-text"></div>
        <!-- Slider main container -->
        <div class="swiper-container text">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="ui centered swiper-slide" data-swiper-autoplay="2000">
              <div class="text-spacer">
                <h4>CRM</h4>
                <p>Which leads have the highest motivation to buy?</p>
              </div>
            </div>
            <div class="ui centered swiper-slide">
              <div class="text-spacer">
                <h4>CRM</h4>
                <p>Which leads have the highest motivation to buy?</p>
              </div>
            </div>
            <div class="ui centered swiper-slide">
              <div class="text-spacer">
                <h4>CRM</h4>
                <p>Which leads have the highest motivation to buy?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Data Visualisation</h3>
        <p class="description">imply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="ten wide column">
        <div class="swiper-pagination swiper-pagination-graphs"></div>
        <!-- Slider main container -->
        <div class="swiper-container graphs">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="ui centered swiper-slide" data-swiper-autoplay="2300">
              <div class="graph-wrapper"> 
                <p>
                  <div id="graph1"></div>
                </p>
                <p>
                  <div id="graph2"></div>
                </p>
              </div>
            </div>
            <div class="ui centered swiper-slide">
              <div class="graph-wrapper"> 
                <p>
                  <div id="graph3"></div>
                </p>
                <p>
                  <div id="graph4"></div>
                </p>
              </div>
            </div>
            <div class="ui centered swiper-slide">
              <div class="graph-wrapper"> 
                <p>
                  <div id="graph5"></div>
                </p>
                <p>
                  <div id="graph6"></div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Data applications</h3>
        <p class="description">imply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="ten wide column">
        <div class="swiper-pagination swiper-pagination-images"></div>
        <!-- Slider main container -->
        <div class="swiper-container images">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="ui centered swiper-slide" data-swiper-autoplay="2600">
              <img src="img/spacious.png" alt="">
            </div>
            <div class="ui centered swiper-slide">
              <img src="img/barchart.jpg" alt="">
            </div>
            <div class="ui centered swiper-slide">
              <img src="img/map.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="http://mbostock.github.com/d3/d3.v2.js"></script>