<div class="sliders wrapper">
<div class="ui three column stackable grid container">
  <div class="centered row">
    <div class="column">
      <h2 class="ui centered header">Our Services Include</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h2 class="ui centered header">Predictive Analytics</h2>
      
      <!-- Slider main container -->
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">Slide 1</div>
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">Slide 2</div>
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">Slide 3</div>
          </div>

          <div class="swiper-pagination"></div>
          
      </div>

    </div>
    <div class="column">
      <h2 class="ui centered header">Data Visualisation</h2>
      <!-- Slider main container -->
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">
                <div class="graph-wrapper"> 
                  <p>
                    <div id="graph1"></div>
                  </p>
                  <p>
                    <div id="graph2"></div>
                  </p>
                </div>
              </div>
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">
                <div class="graph-wrapper"> 
                  <p>
                    <div id="graph3"></div>
                  </p>
                  <p>
                    <div id="graph4"></div>
                  </p>
                </div>
              </div>
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">
                <div class="graph-wrapper"> 
                  <p>
                    <div id="graph5"></div>
                  </p>
                  <p>
                    <div id="graph6"></div>
                  </p>
                </div>
              </div>
          </div>

          <div class="swiper-pagination"></div>
          
      </div>
      
    </div>
    <div class="column">
      <h2 class="ui centered header">Data Applications</h2>

      <!-- Slider main container -->
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="ui centered swiper-slide" data-swiper-autoplay="function(){getRandomArbitrary(2000,3500)}">
                <img src="img/spacious.png" alt="">
              </div>
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">
                <img src="img/barchart.jpg" alt="">
              </div>
              <div class="ui centered swiper-slide" data-swiper-autoplay="getRandomArbitrary(2000,3500)">
                <img src="img/map.jpg" alt="">
              </div>
          </div>

          <div class="swiper-pagination"></div>
  
      </div>
    </div>
  </div>
</div>
</div>

<script src="http://mbostock.github.com/d3/d3.v2.js"></script>