<div id="services" class="sliders wrapper">
  <div class="ui two column stackable grid container">
  <h2 class="ui header">Our services</h2>

    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Predictive analytics</h3>
        <p class="description">Machine Learning and AI are coming to so many of the apps and services you use - with our predictive analytics services you can make them part of your business. Through opportunity discovery, predictive analytics helps you do more with less.</p>
      </div>
      <div class="ten wide column">
        <div class="swiper-pagination swiper-pagination-text"></div>
        <!-- Slider main container -->
        <div class="swiper-container text">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            
            <!-- Slides -->

            <div class="ui centered swiper-slide" data-swiper-autoplay="2000">
              <div class="text-spacer">
                <h4>CRM</h4>
                <p>How do you know which leads are <em>worth pursuing?</em></p>
              </div>
            </div>
            
            <div class="ui centered swiper-slide">
              <div class="text-spacer">
                <h4>Retail</h4>
                <p>How to organise our shelves for the <em>highest level of sales?</em></p>
              </div>
            </div>
            
            <div class="ui centered swiper-slide">
              <div class="text-spacer">
                <h4>Maintence</h4>
                <p>When should commission repairs to <em>minimise maintenance costs</em>?</p>
              </div>
            </div>
            
            <div class="ui centered swiper-slide">
              <div class="text-spacer">
                <h4>Marketing</h4>
                <p>Which content will be <em>most relevant</em> to our <em>audience segments</em>?</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Data visualisation</h3>
        <p class="description">Data visualisation powers knowledge discovery and provides new insights into your datasets. Our visualisation services range from visual storytelling with crafted graphics, to the development of a suite of real-time operational dashboards.</p>
      </div>
      <div class="ten wide column">
        <div class="swiper-pagination swiper-pagination-graphs"></div>
        <!-- Slider main container -->
        <div class="swiper-container graphs footered">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            
            <!-- Slides -->
            
            <div class="ui centered swiper-slide" data-swiper-autoplay="2300">
              <div class="graph-wrapper"> 
                <p>
                  <div id="graph1"></div>
                </p>
                <p>
                  <div id="graph2"></div>
                </p>
              </div>
                <footer class="caption">
                  <h4>Realtime Analytis</h4>
                  <p>Remove the delay in the information that's most important to you</p>
                </footer>
            </div>
            
            <div class="ui centered swiper-slide">
              <img src="img/site/home/tableau.png" alt="">
              <footer class="caption light">
                <h4>Tableau</h4>
                <p>Develop operational and management Tableau Dashboards</p>
              </footer>
            </div>
            
            <div class="ui centered swiper-slide">
              <img src="img/site/home/energy.png" alt="">
              <footer class="caption light">
                <h4>Interactive Graphics</h4>
                <p>Empower your communication and insight discovery</p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Data applications</h3>
        <p class="description">End-to-end handling of data application development. For the most demanding applications we develop tailored solutions leveraging dedicated machine learning pipelines.</p>
      </div>
      <div class="ten wide column">
        <div class="swiper-pagination swiper-pagination-images"></div>
        <!-- Slider main container -->
        <div class="swiper-container images footered">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="ui centered swiper-slide" data-swiper-autoplay="2600">
              <img src="img/site/home/api.png" alt="">
                <footer class="caption">
                  <h4>APIs & Data Pipelines</h4>
                  <p>Create value from your data by unlocking it through APIs</p>
                </footer>
            </div>
            <div class="ui centered swiper-slide">
              <img src="img/site/home/chatbot.gif" alt="">
              <footer class="caption">
                <h4>Chatbots</h4>
                <p>Open up additional sales channels by leveraging chatbots</p>
              </footer>
            </div>
            <div class="ui centered swiper-slide">
            <video width="840" height="320" autoplay="autoplay">
              <source src="img/site/home/cv.mp4" type="video/mp4" />
            </video>
              <footer class="caption">
                <h4>Computer Vision</h4>
                <p>Automate processes which currently require visual inspection</p>
              </footer>
            </div>
            <div class="ui centered swiper-slide">
              <img src="img/site/home/portfoliorecommendation.png" alt="">
              <footer class="caption">
                <h4>Data Manegement</h4>
                <p>Break away from Excel with dedicated tools to create value from your data</p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.8.1/d3.v2.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script> -->